.divElement {
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: 35%;

}

.form-group {
    width: 100%;
    margin-top: 45px;
    float: left;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
}

.wechatsignin {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 100px;
    float: left;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
}

.btn {
    float: left;
    width: 70%;
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #f4511e;
    color: #f3f1f1;
    padding: 15px 15px 15px 15px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #f5f4f4;
    border-bottom: 1px solid #f3efef;
    border-left: 1px solid #CCCCCC;
}

.btn_checkcode {
    float: right;
    margin-right: 25%;
    width: 20%;
    height: 30px;
    font-size: 10px;
    text-align: center;
    background-color: #f4511e;
    color: #f3f1f1;
    padding: 1px 1px 1px 1px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #f5f4f4;
    border-bottom: 1px solid #f3efef;
    border-left: 1px solid #CCCCCC;
    border-radius: 50px;
}


#submit_info {
    margin-left: 30%;
    font-size: 20px;
}